<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hepsiburada E2E Test Suite" verbose="1">
    <test name="Shopping Flow Tests">
        <classes>
            <class name="com.venhancer.tests.SearchAndCartTest"/>
        </classes>
    </test>
</suite>
